header {
    background-color: forestgreen;
}

h2 {
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.info {
    background-color: bisque;
    color:coral;
}

.transportation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    background-color: darkred;
    color:rgb(88, 170, 238);
    text-align: center;
    padding: 10px;
    margin: 0;
}



img {
    width: 33%;
}
